name: invoice_management
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

# Triggering pub get to resolve cached errors
environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  platform: ^3.1.6
  google_fonts: ^6.3.2
  fl_chart: ^1.1.0
  provider: ^6.1.5+1
  intl: ^0.19.0
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
